body {
  font-family: "Raleway", sans-serif;
  max-width: 1370px;
  margin: auto;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: auto;
  text-decoration: none;
}

#Filtres ul {
  display: flex;
  list-style-type: none;
}

i {
  color: rgb(0, 101, 252);
  list-style-type: none;
}

#Egris {
  color: rgb(217, 217, 217);
}

footer {
  display: flex;
  justify-content: space-between;
}

#C1 {
  display: flex;
}

#C2 {
  display: flex;
}

.Titre {
  margin-bottom: -15px;
  font-size: 21px;
}

.Nav {
  text-decoration: none;
  color: rgb(96, 96, 96);
  padding: 48px 20px 0 20px;
  transition: ease-in-out 0.3s;
  border-top: solid transparent 3px;
}

.Nav:hover {
  color: rgb(32, 120, 253);
  border-top: 3px solid rgb(32, 120, 253);
}

.S {
  color: rgb(32, 120, 253);
  font-weight: bold;
}

#Si {
  color: black;
  border: solid 1px rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
  padding: 12px;
  padding-left: 16px;
  border-radius: 15px 0px 0px 15px;
}

.Bouton_Rechercher {
  color: white;
  border: solid 1px rgb(0, 101, 252);
  background-color: rgb(0, 101, 252);
  padding: 12px;
  border-radius: 0px 15px 15px 0px;
  text-decoration: none;
}

.MF {
  font-weight: bold;
  border: solid 1px rgb(242, 242, 242);
  padding: 12px;
  padding-right: 52px;
  padding-left: 20px;
}

.HM {
  border: solid rgb(242, 242, 242);
  display: table;
  border-radius: 20px;
  background-color: rgb(242, 242, 242);
}

#HaM {
  font-size: 18px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 2px;
}

.p_Afficher {
  margin-bottom: 30px;
}

.Bouton_Afficher {
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  color: black;
}

.aside_populaire {
  border: solid rgb(242, 242, 242);
  display: table;
  border-radius: 20px;
  background-color: rgb(242, 242, 242);
  height: 500px;
}

.FOOT {
  border: solid rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
}
.ul_filtres {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0 0 0 5px;
}

.ul_filtres h2 {
  font-size: 18px;
}

.Test {
  margin-left: -18px;
  border: solid 2px rgb(217, 217, 217);
  padding: 11px;
  border-left-style: none;
  border-radius: 0 35px 35px 0;
  padding-left: 25px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.li_filtres i {
  border: solid 2px rgb(222, 235, 255);
  background: rgb(222, 235, 255);
  padding: 13px;
  border-radius: 50%;
  margin-left: 30px;
}

.div_fig_aside {
  display: flex;
  justify-content: space-between;
}

.figure_column {
  columns: auto;
}

.sec_div_activite {
  display: flex;
}

#Icone_Info {
  border: solid rgb(242, 242, 242) 2px;
  padding: 5px;
  border-radius: 50%;
  font-size: small;
  width: 15px;
}

.fa-info::before {
  margin-left: 5px;
}

.Section_Hebergement img {
  max-width: 200px;
  max-height: 150px;
  background-size: cover;
}

.Section_Hebergement figcaption {
  border: solid 1px white;
  background-color: white;
  border-radius: 0 0 15px 15px;
  margin-left: 10px;
}

aside img {
  height: 150px;
  width: 130px;
}

aside figcaption {
  border: solid 1px white;
  background-color: white;
  border-radius: 0 15px 15px 0;
  padding-left: 20px;
  padding-top: 10px;
}

.aside_h2{
  font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 2px;
}

.aside_h2_i {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.fa-chart-line {
  color: black;
  margin-right: 40px;
}

.aside_fig {
  display: flex;
    border: solid white 3px;
    background-color: white;
    border-radius: 15px;
    width: 350px;
}
}

.sec_div_activite figcaption {
  border: solid 1px white;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 2px 12px rgb(242, 242, 242);
  padding: 15px;
}

.img_Port_Calanques {
  width: 290px;
  height: 420px;
}

.figure_img_Fort_Parc {
  width: 300px;
  height: 220px;
}

.img_Frioul_Notre-Dame {
  width: 300px;
  height: 140px;
}

.figures_column {
  border: solid white 3px;
  background-color: white;
  border-radius: 15px;
  height: 158px;
  width: 202px;
  margin: 16px 16px 16px 10px
}

.Cannebière_Mer {
  margin: 16px 16px 16px 30px;
}
.figures_img{
  border: solid 1px white;
  border-radius: 15px 15px 0 0;
  height: 93px;
  object-fit: cover;
  width: 200px;
}

.figures_bold {
  font-weight: bold;
  font-size: 14.5px;
}

.figures_small{
  font-size: 13px;
}

.img_aside {
  height: 118px;
  width: 120px;
  object-fit: cover;
  border: solid 1px white;
  border-radius: 15px 0 0 15px;
}

.aside_i_1{
  padding-top: 35px;
}

.aside_i_2 {
  padding-top: 50px;
}

.Activite_Marseille img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.Activite_Marseille figure {
  border: solid white 0px;
    border-radius: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
}

#Vieux_Port {
  margin-left: 0;
}

.Activite_Marseille figcaption {
margin-top: 10px;
margin-left: 10px;
font-weight: bold;
padding-bottom: 10px;
}

#h2_Activite {
  font-size: 20px;
  margin-bottom: 1px;
}

.Footer {
  display: flex;
  
}

figure {
  box-shadow: #00000014 0 0 19px 7px;
}

.footer_line-height {
  line-height: 30px;
  margin-top: -24px;
}

meta view port 

reso  mobile max 480px / min 320px

tablette 1024px / 1080px 

box-shadow: #00000014 0 0 19px 7px;

