nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: auto;
}

#Filtres ul {
  display: flex;
  list-style-type: none;
}

i {
  color: rgb(0, 101, 252);
  list-style-type: none;
}

#Egris {
  color: rgb(217, 217, 217);
}

footer {
  display: flex;
  justify-content: space-between;
}

#C1 {
  display: flex;
}

#C2 {
  display: flex;
}
